@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-gray);
  font-family: Outfit, sans-serif;
  padding-top: 10%;
}
.container {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  margin: 10%;
  padding: 4%;
  border-radius: 5%;
  box-shadow: 1px 2px 28px 1px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 5%;
  width: 100%;
  margin-bottom: 5%;
}
.information {
  padding: 2%;
}

h2 {
  text-align: center;
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 5%;
  font-size: 1.7rem;
}

p {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 5%;
}




@media  (min-width: 375px) {
  html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-gray);
  font-family: Outfit, sans-serif;
  padding-top: 10%;
}
.container {
   max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  margin: 10%;
  padding: 4%;
  border-radius: 5%;
  box-shadow: 1px 2px 28px 1px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 5%;
  width: 100%;
  margin-bottom: 5%;
}
.information {
  padding: 2%;
}

h2 {
  text-align: center;
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 5%;
  font-size: 1.8rem;
}

p {
  text-align: center;
  color: var(--grayish-blue);
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 5%;
}

}

@media (min-width: 1400px) {
  .container {
    max-width: 400px;
    margin: auto;
    margin-bottom: 2%;
    box-shadow: 1px 2px 28px 1px rgba(0, 0, 0, 0.1);
    padding: 1%;
  }


  .information p {
    font-size: 1.5rem;
    padding: 0 4%;
    margin-bottom: 2%;
  }

  h2 {
    font-size: 2rem;
    padding: 0 5%;
  }
}
